<div class="container">
  <form class="card" [formGroup]="forma" (ngSubmit)="submit()">

    <input formControlName="email" type="text" placeholder="Email">
    <input formControlName="password" type="password" placeholder="Пароль">
    <div>
      <small *ngIf="forma.get('password')?.errors">Не верно заполнено</small>
    </div>

    <div class="card" formGroupName="message">
      <input type="text" formControlName="from" placeholder="Кому">
      <input type="text" formControlName="text" placeholder="Сообщение...">
    </div>



    <div class="card" formArrayName="comment">
      <button (click)="addComment()" class="btn" type="button">Добавить запись</button>
      <div *ngFor="let c of commentControls; let idx = index">
        <p>Запись {{ idx + 1}}</p>
        <input type="text" [formControlName]="idx">
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="forma.invalid">Отправить</button>


  </form>
  <p>{{ qwe | json}}</p>
</div>
