<!-- <div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>
    <div class="form-control">
      <label>Email</label>
      <input formControlName="email" type="text" placeholder="Email">
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="validation">
        <small *ngIf="form.get('email')?.errors">Поле не может быть пустым</small>
        <small *ngIf="form.get('email')?.errors">Введите коректный email</small>
      </div>
    </div>
    <div class="form-control">
      <label>Пароль</label>
      <input formControlName="password" type="password" placeholder="Пароль">
    </div>
    <button class="btn" type="submit" [disabled]="form.invalid">Отправить</button>
  </form>
</div> -->

<div class="container">
  <form class="card" [formGroup]="forma" (ngSubmit)="submit()">

    <input formControlName="email" type="text" placeholder="Email">
    <input formControlName="password" type="password" placeholder="Пароль">
    <div>
      <small *ngIf="forma.get('password')?.errors">Не верно заполнено</small>
    </div>

    <div class="card" formGroupName="message">
      <input type="text" formControlName="from" placeholder="Кому">
      <input type="text" formControlName="text" placeholder="Сообщение...">
    </div>



    <div class="card" formArrayName="comment">
      <button (click)="addComment()" class="btn" type="button">Добавить запись</button>
      <div *ngFor="let c of commentControls; let idx = index">
        <p>Запись {{ idx + 1}}</p>
        <input type="text" [formControlName]="idx">
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="forma.invalid">Отправить</button>


  </form>
  <p>{{ qwe | json}}</p>
</div>
